@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');


.header-title 

{
    
    background-image: url(../img/img10.jpg);
    

}


.text-footer 

{
text-align: center;
}

  

.footer {
    width: 100%;
    text-align: center;
    
    
}


